# ----------------------------
# .NET / C# / API
# ----------------------------
bin/
obj/
publish/
out/
*.user
*.suo
*.log
*.vs/
*.vscode/
.vs/
.vscode/
*.db
*.db-shm
*.db-wal

# Entity Framework
Migrations/*.Designer.cs
Migrations/*Snapshot.cs

# ----------------------------
# Angular / UI
# ----------------------------
medi-billing-ui/node_modules/
medi-billing-ui/dist/
medi-billing-ui/.angular/
medi-billing-ui/build-log.txt
medi-billing-ui/ng_build.log
medi-billing-ui/ng_build_verbose.log

# Environment files
medi-billing-ui/src/environments/*.ts

# ----------------------------
# IDE / OS
# ----------------------------
.DS_Store
Thumbs.db
*.log
*.vs
*.vscode
